@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/typography";
@import "app/app";
@import "components/button";
@import "components/spinner";
@import "components/picture";
@import "pages/photo-preview-page";

.container {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  margin-left: auto;
  margin-right: auto;
  width: $container-xl;

  @include respond(big-desktop) {
    width: $container-xl;
  }

  @include respond(tab-land) {
    width: $container-lg;
  }

  @include respond(tab-port) {
    width: $container-md;
  }

  @include respond(phone) {
    width: $container-sm;
  }

}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
  url('../fonts/Roboto-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff');
}
